<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <main>
            <header>
                <% include('./partials/header') %>
            </header>
            <section class="city-view">
              <ul id="city-list">
                <% cities.forEach(city => { %>
                  <li class="city item" data-id="<%= city.id %>">
                    <h4><%= city.name %></h4>
                    <p><%= city.temp %></p>
                  </li>
                <% }) %>
              </ul>
            </section>
            
            
            <section>
            </section>
            <%- include('./partials/footer') %>
        </main>
    </body>
</html>
