<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="/style/reset.css">
      <link rel="stylesheet" href="/style/results.css">

    </head>
    <body>
        <main>
            <header>
                <%- include('../partials/header') %>
                <a id="home" href="/" >home</a>
            </header>
            <section class="city-view">
              <ul id="city-list">
                <% cities.forEach(city => { %>
                  <li class="city item" data-id="<%= city.id %>">
                    <h4>City Name: <%= city.name %></h4>
                    <p>Temp: <%= city.temp %>&#8457;</p>
                    <p>Pint of Beer: $<%= city.beer %></p>
                    <p>Milk $<%= city.milk %> per gallon</p>
                    <p>Gallon of Gas: $<%= city.gas %></p>
                    <p>Internet (60mbps or More): $<%= city.internet %></p>
                    <p>Health Index: <%= city.health %></p>
                    <p>Property Index: <%= city.property %></p>
                    <p>Climate Index: <%= city.climate %></p>
                  </li>
                <% }) %>
              </ul>
            </section>
            
            
            <section>
            </section>
            <footer>
            <%- include('../partials/footer') %>
          </footer>
        </main>
    </body>
</html>
