<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="/style/reset.css">
      <link rel="stylesheet" href="/style/results.css">

    </head>
    <body>
        <main>
            <header>
                <%- include('../partials/header') %>
                <a id="home" href="/" >home</a>
            </header>
            <section class="city-view">
              <ul id="city-list">
                <% cities.forEach(city => { %>
                  <li class="city item" data-id="<%= city.id %>">
                    <h4>City Name: <b><%= city.name %></b></h4>
                    <p><b>Temp</b>: <%= city.temp %>&#8457;</p>
                    <p><b>Pint</b> of Beer: $<%= city.beer %></p>
                    <p><b>Milk</b> $<%= city.milk %> per gallon</p>
                    <p><b>Gallon</b> of Gas: $<%= city.gas %></p>
                    <p><b>Internet</b> (60mbps or More): $<%= city.internet %></p>
                    <p><b>Health</b> Index: <%= city.health %></p>
                    <p><b>Property</b> Index: <%= city.property %></p>
                    <p><b>Climate</b> Index: <%= city.climate %></p>
                  </li>
                  <li id= "buttonListItem">
                  <button id= "saveButton" href="#">Save City</button></li>
                <% }) %>
                
              </ul>
            </section>
            
            
            <section>
            </section>
            <footer>
            <%- include('../partials/footer') %>
          </footer>
        </main>
    </body>
</html>
